<section id="header-nav">
  <header>
    <nav>
      <ul>
        <a href="{{ '/' | relative_url }}">
          <li class="btn-nav{% if page.url == '/' or page.url == '/index.html' %} current{% endif %}">홈</li>
        </a>
        <a href="{{ '/blog/' | relative_url }}">
          <li class="btn-nav{% if page.url contains '/blog/' %} current{% endif %}">글</li>
        </a>
        <a href="{{ '/papers/' | relative_url }}">
          <li class="btn-nav{% if page.url contains '/papers/' %} current{% endif %}">논문 리뷰</li>
        </a>
        <a href="{{ '/projects/' | relative_url }}">
          <li class="btn-nav{% if page.url contains '/projects/' %} current{% endif %}">프로젝트</li>
        </a>
        <a href="{{ '/subprojects/' | relative_url }}">
          <li class="btn-nav{% if page.url contains '/subprojects/' %} current{% endif %}">서브 프로젝트</li>
        </a>
        <a href="{{ '/about/' | relative_url }}">
          <li class="btn-nav{% if page.url contains '/about/' %} current{% endif %}">소개</li>
        </a>
        <a href="{{ site.data.profile.webpage }}" target="_blank" rel="noreferrer">
          <li class="btn-nav">GitHub</li>
        </a>
      </ul>
    </nav>
  </header>
</section>
